# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Guarana.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\clada\Projetos\Academico\CEFET\Guarana\repo\Guarana\.idea\.idea.Guarana\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
